<div class="banner">
  <h1>Stupid coaching</h1>
</div>

<div class="you-block">
  <p> - <%= @question %> </p>
  <p class="role"> - You</p>
</div>
<div>

</div>
<div class="coach-block">

  <p class="coach-answer"> - <%= @answers %> </p>
  <p class="role"> - Your coach
</div>

<p> <%= link_to 'Ask a new question', '/ask' %></p>
